body{
    padding: 20px;
    margin: 0;
    text-align: center;
}

.box {
  display: flex;
  justify-content: space-evenly; 
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}


.coluna {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  width: 45%;             
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
}


.align_buttons {
  display: flex;
  justify-content: center; 
  gap: 10px;               
  margin-top: 10px;
}

#nUrgente{
    font-size: 20px;
    padding: 30px;
    margin: 5px;
    border: 5px solid;
    background-color: yellow;
    width: 500px;
    height: 400px;
}

#Urgente{
    font-size: 20px;
    padding: 30px;
    border: 5px solid;
    background-color: red;
    margin: 5px;
    width: 500px;
    height: 400px;
}




